*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.layout{
    display: flex;
    min-height: 100vh;
}

.sidebar {
  width: 250px;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar li {
  margin-bottom: 15px;
  cursor: pointer;
}

.main-content {
  flex: 1;
  background: #f3f4f6;
}

.navbar {
  background: white;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.page-content {
  padding: 20px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: inline-block;
    min-width: 25%;
}

.card h3{
    margin-bottom: 15px;
    color: #111827;
}

.card ul{
    list-style: none;
    display: inline;
}

.card li{
    color: #555;
}